/****************************************************************************


optdlgs.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "optionsd.rh"


DLG_PINGOPTIONS DIALOG 47, 55, 164, 129
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Ping Detect Options"
FONT 8, "MS Sans Serif"
{
 CONTROL "heise.de", IDC_HOST, "EDIT", WS_BORDER | WS_TABSTOP, 66, 8, 66, 12
 LTEXT "Host/IP to ping:", -1, 8, 10, 53, 8
 LTEXT "Ping timeout:", -1, 8, 26, 52, 8
 CONTROL "10", IDC_TIMEOUT, "EDIT", WS_BORDER | WS_TABSTOP, 66, 24, 27, 12
 LTEXT "Check Interval:", -1, 8, 42, 52, 8
 LTEXT "msecs", -1, 97, 26, 20, 8
 CONTROL "10", IDC_INTERVAL, "EDIT", WS_BORDER | WS_TABSTOP, 66, 40, 27, 12
 LTEXT "secs", -1, 97, 42, 20, 8
}

