// In Microsoft Visual C++ generiertes Ressourcenskript.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Von der Ressource TEXTINCLUDE 2 generiert.
//
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Englisch Ressourcen (U.S.)

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE 7, 1
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

#define IDI_HISTORY 1
#define IDI_TIMESTAMP 2
#define IDI_ADDCONTACT 3
#define IDI_MULTISEND 4
#define IDI_TYPING 5
#define IDI_QUOTE 6
#define IDI_SAVE 7
#define IDI_CHECK 8
#define IDI_CONTACTPIC 9
#define IDI_CLOSEMSGDLG 10
#define IDI_USERMENU 11
#define IDI_MSGERROR 12
#define IDI_ICONIN 13
#define IDI_ICONOUT 14
#define IDI_SMILEYICON 15
#define IDI_SELFTYPING_ON 16
#define IDI_SELFTYPING_OFF 17
#define IDI_CONTAINER 18
#define IDI_SECUREIM_ENABLED 19
#define IDI_SECUREIM_DISABLED 20
#define IDI_RESERVED1 21
#define IDI_RESERVED2 22
#define IDI_RESERVED3 23
#define IDI_RESERVED4 24
#define IDI_RESERVED5 25
#define IDI_RESERVED6 26
#define IDI_RESERVED7 27
#define IDI_RESERVED8 28
#define IDI_RESERVED9 29
#define IDI_RESERVED10 30

#define IDB_UNKNOWNAVATAR 100

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_HISTORY             ICON                    "..\\..\\res\\angeli-icons\\History.ico"
IDI_TIMESTAMP           ICON                    "..\\..\\res\\angeli-icons\\opt.ico"
IDI_ADDCONTACT          ICON                    "..\\..\\res\\angeli-icons\\Add.ico"
IDI_MULTISEND           ICON                    "..\\..\\res\\angeli-icons\\Multi.ico"
IDI_TYPING              ICON                    "..\\..\\res\\angeli-icons\\Pencil.ico"
IDI_QUOTE               ICON                    "..\\..\\res\\angeli-icons\\quote02.ico"
IDI_SAVE                ICON                    "..\\..\\res\\angeli-icons\\save.ico"
IDI_CHECK               ICON                    "..\\..\\res\\angeli-icons\\Send.ico"
IDI_CONTACTPIC          ICON                    "..\\..\\res\\angeli-icons\\Pic.ico"
IDI_USERMENU            ICON                    "..\\..\\res\\angeli-icons\\Info.ico"
IDI_MSGERROR            ICON                    "..\\..\\res\\error.ico"
IDI_CLOSEMSGDLG         ICON                    "..\\..\\res\\angeli-icons\\Close.ico"
IDI_ICONIN              ICON                    "..\\..\\res\\angeli-icons\\Incom.ico"
IDI_ICONOUT             ICON                    "..\\..\\res\\angeli-icons\\outg.ico"
IDI_SMILEYICON          ICON                    "..\\..\\res\\smbutton.ico"
IDI_SELFTYPING_ON		ICON					"..\\..\\res\\typing8.ico"
IDI_SELFTYPING_OFF		ICON					"..\\..\\res\\delete.ico"
IDI_CONTAINER			ICON					"..\\..\\res\\Logo.ico"
IDI_SECUREIM_ENABLED	ICON					"..\\..\\res\\secureim_on.ico"
IDI_SECUREIM_DISABLED	ICON					"..\\..\\res\\secureim_off.ico"
IDI_RESERVED1			ICON					"..\\..\\res\\empty.ico"
IDI_RESERVED2			ICON					"..\\..\\res\\empty.ico"
IDI_RESERVED3			ICON					"..\\..\\res\\empty.ico"
IDI_RESERVED4			ICON					"..\\..\\res\\empty.ico"
IDI_RESERVED5			ICON					"..\\..\\res\\empty.ico"
IDI_RESERVED6			ICON					"..\\..\\res\\empty.ico"
IDI_RESERVED7			ICON					"..\\..\\res\\empty.ico"
IDI_RESERVED8			ICON					"..\\..\\res\\empty.ico"
IDI_RESERVED9			ICON					"..\\..\\res\\empty.ico"
IDI_RESERVED10			ICON					"..\\..\\res\\empty.ico"

IDB_UNKNOWNAVATAR		BITMAP					"..\\..\\res\\unknown.bmp"

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // Englische Ressourcen (U.S.)
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Von der Ressource TEXTINCLUDE 3 generiert.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // nicht APSTUDIO_INVOKED

