/****************************************************************************


dialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "dialog.rh"

DIALOG_1 DIALOG 6, 15, 135, 52
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "LSecure"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 41, 34, 40, 14
 PUSHBUTTON "Cancel", IDCANCEL, 88, 34, 40, 14
 EDITTEXT IDC_PASSWORD, 4, 16, 124, 11, ES_PASSWORD | WS_BORDER | WS_TABSTOP
 LTEXT "Enter password:", -1, 4, 4, 128, 9
}

