/****************************************************************************


optdlgs.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "optionsd.rh"

DLG_TALKOPTIONS DIALOG 0, 0, 219, 171
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Misc Options"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Voice Settings", IDC_GROUPBOX2, 4, 76, 210, 87, BS_GROUPBOX
 CHECKBOX "Read incoming messages", IDC_Readincoming, 10, 19, 158, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Announce contact status changes", IDC_ContactChange, 10, 35, 158, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 CHECKBOX "Announce own status changes", IDC_statuschange, 10, 51, 157, 12, BS_AUTOCHECKBOX | NOT WS_TABSTOP
 GROUPBOX "What to say", IDC_GROUPBOX1, 4, 4, 209, 65, BS_GROUPBOX
 COMBOBOX IDC_voicecombo, 48, 92, 105, 16, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Voice:", -1, 12, 94, 33, 9
 PUSHBUTTON "About/Settings", IDC_aboutvoice, 157, 91, 53, 16
 PUSHBUTTON "Lexicon", IDC_lexiconbtn, 157, 113, 53, 16
 PUSHBUTTON "Test", IDC_testbtn, 157, 137, 53, 16
 EDITTEXT IDC_VOICEINFO, 12, 110, 140, 45, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_TABSTOP | NOT WS_BORDER | WS_VSCROLL
}


